* {
    margin: 0;
    padding: 0;
	font-family: 'Inter', sans-serif;
}

body {
    background-color: #c4c2c3;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15rem 0;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    color: black;
    background-color: rgba(255, 251, 251, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
}

.lock-icon {
    font-size: 4rem;
    color: rgb(150, 150, 4);
}

h2 {
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 20px;
}

p {
    font-size: 20px;
    margin: 10px;
}

.passInput {
    margin-top: 15px;
    width: 90%;
    background: transparent;
    border: none;
    border-bottom: 2px solid deepskyblue;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.sendCode {
    border-radius: 10px;
    border: 0px;
    margin-top: 15px;
    width: 85%;
    background-color: deepskyblue;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}
.sendCode:hover {
    opacity: 0.9;
    background-color: rgb(48, 93, 190);
}